######################################
#  ____           _                  #
# |  _ \ __ _  __| | __ _ _ __ _ __  #
# | |_) / _` |/ _` |/ _` | '__| '__| #
# |  _ < (_| | (_| | (_| | |  | |    #
# |_| \_\__,_|\__,_|\__,_|_|  |_|    #
#                                    #
######################################

# User/Group Identifiers (use id command)
PUID=
PGID=

# Timezone
TZ=

# Paths
CONFIG_PATH=
DATA_PATH=

# Restart policy
RESTART_POLICY=unless-stopped
