###############################
#  ______        ___    ____  #
# / ___\ \      / / \  / ___| #
# \___ \\ \ /\ / / _ \| |  _  #
#  ___) |\ V  V / ___ \ |_| | #
# |____/  \_/\_/_/   \_\____| #
#                             #
###############################

# User/Group Identifiers (use id command)
PUID=
PGID=

# Timezone
TZ=

# Primary domain name
URL=

# Email for cert notifications
EMAIL=

# Path to the configuration directory
CONFIG_PATH=

# Restart policy 
RESTART_POLICY=unless-stopped

# CrowdSec integration
CROWDSEC_LAPI_URL=http://crowdsec:8080
