#######################################################
#  ____                        _                      #
# |  _ \  ___  ___ _   _ _ __ | |__   __ _ _ __ _ __  #
# | | | |/ _ \/ __| | | | '_ \| '_ \ / _` | '__| '__| #
# | |_| |  __/ (__| |_| | |_) | | | | (_| | |  | |    #
# |____/ \___|\___|\__, | .__/|_| |_|\__,_|_|  |_|    #
#                  |___/|_|                           #
#                                                     #
#######################################################

# User/Group Identifiers (use id command)
PUID=
PGID=

# Timezone
TZ=

# Paths to config and mount 
CONFIG_PATH=
DATA_PATH=

# Restart policy
RESTART_POLICY=unless-stopped
