#######################################
#  ____                               #
# / ___|  ___  _ __   __ _ _ __ _ __  #
# \___ \ / _ \| '_ \ / _` | '__| '__| #
#  ___) | (_) | | | | (_| | |  | |    #
# |____/ \___/|_| |_|\__,_|_|  |_|    #
#                                     #
#######################################


# User/Group Identifiers (use id command)
PUID=
PGID=

# Timezone
TZ=

# Paths
CONFIG_PATH=
DATA_PATH=

# Restart policy
RESTART_POLICY=unless-stopped
