###############################
#  ____                       #
# / ___|  ___  ___ _ __ _ __  #
# \___ \ / _ \/ _ \ '__| '__| #
#  ___) |  __/  __/ |  | |    #
# |____/ \___|\___|_|  |_|    #
#                             #
###############################

# User/Group Identifiers (use id command)
PUID=
PGID=

# Timezone
TZ=

# Paths for persistent configuration
CONFIG_PATH=

# Logging level (debug, info, warn, error)
LOG_LEVEL=info

# Restart policy
RESTART_POLICY=unless-stopped
