###########################################################
#  ____  _   _      _ _             ____  ____  _____     #
# / ___|| |_(_)_ __| (_)_ __   __ _|  _ \|  _ \|  ___|    #
# \___ \| __| | '__| | | '_ \ / _` | |_) | | | | |_       #
#  ___) | |_| | |  | | | | | | (_| |  __/| |_| |  _|      #
# |____/ \__|_|_|  |_|_|_| |_|\__, |_|   |____/|_|        #
#                             |___/                       #
###########################################################

# User/Group Identifiers (use id command)
PUID=
PGID=

# Timezone
TZ=

# Stirling-PDF Image Tag (latest, latest-fat, latest-ultra-lite)
STIRLING_TAG=latest

# Paths for persistent storage
CONFIG_PATH=
DATA_PATH=

# Security & Authentication (default in Stirling-PDF is true)
# Default admin credentials on first startup: admin / stirling
# Set to false to disable authentication completely
SECURITY_ENABLELOGIN=true

# UI Locale (e.g. pl-PL, en-US, en-GB, de-DE, fr-FR)
SYSTEM_DEFAULTLOCALE=pl-PL

# Restart policy
RESTART_POLICY=unless-stopped

